{% extends 'base.html' %} {% block titulo %} Kit y Merienda Escolar {% endblock %} {% block
    contenido %}
    
    {% for merienda in merienda_escolar %}

    <div class="container mx-auto p-0.6 max-w-sm">

      <p class="text-3xl mt-6 text-gray-900 text-gray-600">MERIENDA ESCOLAR</p>
      <div class="container mx-auto p-4 max-w-sm">
        <div class="flex flex-col p-0.1 rounded-lg gap-1 bg-blue">
          <label
            for="website-admin"
            class="block mb-1 text-sm font-medium text-gray-900 text-gray-600"
            >MERIENDAS ENTREGADAS</label
          >
          <div class="flex">
            <span
              class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-100 border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
            >
              <svg
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"
                />
              </svg>
            </span>
            <div
              type="text"
              id="website-admin"
              class="rounded-none rounded-r-lg h-10 bg-gray-50 border text-white focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder=""
            >{{merienda.merienda_entregado}}</div>
          </div>
    
          <div class="flex flex-col p-0.1 rounded-lg gap-1 bg-blue">
            <label
              for="website-admin"
              class="block mb-1 text-sm font-medium text-gray-900 text-gray-600"
              >MERIENDA EN FALTA</label
            >
            <div class="flex">
              <span
                class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-100 border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
              >
                <svg
                  class="w-4 h-4 text-gray-500 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"
                  />
                </svg>
              </span>
              <div
                type="text"
                id="website-admin"
                class="rounded-none rounded-r-lg h-10 bg-gray-50 border text-white focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder=""
              >{{merienda.merienda_en_falta}}</div>
            </div>
    
            <div class="flex flex-col p-0.1 rounded-lg gap-1 bg-blue">
              <label
                for="website-admin"
                class="block mb-1 text-sm font-medium text-gray-900 text-gray-600"
                >FECHA DE ENTREGA</label
              >
              <div class="flex">
                <span
                  class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-100 border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                >
                  <svg
                    class="w-4 h-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                  >
                    <path
                      d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"
                    />
                  </svg>
                </span>
                <div
                  type="text"
                  id="website-admin"
                  class="rounded-none rounded-r-lg h-10 bg-gray-50 border text-white focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder=""
                >{{merienda.fecha_entrega}}</div>
              </div>
    
              <div class="flex flex-col p-0.1 rounded-lg gap-1 bg-blue">
                <label
                  for="website-admin"
                  class="block mb-1 text-sm font-medium text-gray-900 text-gray-600"
                  >FECHA DE FALTA</label
                >
                <div class="flex">
                  <span
                    class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-100 border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                  >
                    <svg
                      class="w-4 h-4 text-gray-500 dark:text-gray-400"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"
                      />
                    </svg>
                  </span>
                  <div
                    type="text"
                    id="website-admin"
                    class="rounded-none rounded-r-lg h-10 bg-gray-50 border text-white focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder=""
                  >{{merienda.fecha_en_falta}}</div>
                </div>
      
                <div class="flex flex-col p-0.1 rounded-lg gap-1 bg-blue">
                  <label
                    for="website-admin"
                    class="block mb-1 text-sm font-medium text-gray-900 text-gray-600"
                    >INFORME</label
                  >
                <div class="flex">
                  <span
                    class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-100 border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                  >
                    <svg
                      class="w-4 h-4 text-gray-500 dark:text-gray-400"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"
                      />
                    </svg>
                  </span>
                  <div
                    type="text"
                    id="website-admin"
                    class="rounded-none rounded-r-lg h-10 bg-gray-50 border text-white focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder=""
                  >          {% if merienda.presupuesto_mec > merienda.presupuesto_real %}
                  <p class="text-red-400">Sobrefacturacion</p>
              {% else %}
                  <p>En regla</p>
              {% endif %}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div></div>
    {% endfor %}

    
    
    {% for kit in kit_escolar %}
    
          <div class="container mx-auto p-0.6 max-w-sm">
            <p class="text-3xl mt-6 text-gray-900 text-gray-600">KITS ESCOLARES</p>
            <div class="container mx-auto p-4 max-w-sm">
              <div class="flex flex-col p-0.1 rounded-lg gap-1 bg-blue">
                <label
                  for="website-admin"
                  class="block mb-1 text-sm font-medium text-gray-900 text-gray-600"
                  >KITS ENTREGADOS</label
                >
                <div class="flex">
                  <span
                    class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-100 border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                  >
                    <svg
                      class="w-4 h-4 text-gray-500 dark:text-gray-400"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                    >
                      <path
                        d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"
                      />
                    </svg>
                  </span>
                  <div
                    type="text"
                    id="website-admin"
                    class="rounded-none rounded-r-lg h-10 bg-gray-50 border text-white focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder=""
                  >{{kit.kit_entregado}}</div>
                </div>
    
                <div class="flex flex-col p-0.1 rounded-lg gap-1 bg-blue">
                  <label
                    for="website-admin"
                    class="block mb-1 text-sm font-medium text-gray-900 text-gray-600"
                    >KITS EN FALTA</label
                  >
                  <div class="flex">
                    <span
            
            
                    class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-100 border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                    >
                      <svg
                        class="w-4 h-4 text-gray-500 dark:text-gray-400"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"
                        />
                      </svg>
                    </span>
                    <div
                      type="text"
                      id="website-admin"
                      class="rounded-none rounded-r-lg h-10 bg-gray-50 border text-white focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder=""
                    >{{kit.kit_en_falta}}</div>
                  </div>
    
                  <div class="flex flex-col p-0.1 rounded-lg gap-1 bg-blue">
                    <label
                      for="website-admin"
                      class="block mb-1 text-sm font-medium text-gray-900 text-gray-600"
                      >FECHA DE ENTREGA</label
                    >
                    <div class="flex">
                      <span
                        class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-100 border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                      >
                        <svg
                          class="w-4 h-4 text-gray-500 dark:text-gray-400"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                        >
                          <path
                            d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"
                          />
                        </svg>
                      </span>
                      <div
                        type="text"
                        id="website-admin"
                        class="rounded-none rounded-r-lg h-10 bg-gray-50 border text-white focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder=""
                      >{{kit.fecha_entrega}}</div>
                    </div>
    
                    <div class="flex flex-col p-0.1 rounded-lg gap-1 bg-blue">
                      <label
                        for="website-admin"
                        class="block mb-1 text-sm font-medium text-gray-900 text-gray-600"
                        >INFORME</label
                      >
                      <div class="flex">
                        <span
                          class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-100 border-r-0 border-gray-300 rounded-l-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
                        >
                          <svg
                            class="w-4 h-4 text-gray-500 dark:text-gray-400"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                          >
                            <path
                              d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"
                            />
                          </svg>
                        </span>
                        <div
                          type="text"
                          id="website-admin"
                          class="rounded-none rounded-r-lg h-10 bg-gray-50 border text-white focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          placeholder=""
                        >          {% if kit.presupuesto_mec > kit.presupuesto_real %}
                        <p class="text-red-400">Sobrefacturacion</p>
                    {% else %}
                        <p>En regla</p>
                    {% endif %}</div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></div>
    {% endfor %}

    
    
      
    
        
      
    </div>{% endblock %}